@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding: 20px;
    background-image: url(./assets/bg-guess-the-word.png);
    background-position: center;
    background-size: cover;
}

.dp-flex { display: flex; }
.jc-center { justify-content: center; }
.align-center { align-items: center; }

.container{
    width: 450px;
    padding: 25px;
    row-gap: 25px;
    flex-direction: column;
    background-color: #030616; 
}

.word-to-guess{
    width: 100%;
    font-size: 32px;
    letter-spacing: 10px;
    background-color: #4A5567;
    color: #97A3B6;
    aspect-ratio: 1 / 0.15;  
}

.tries-mistakes{
    width: 85%;
    margin-bottom: 20px;
    column-gap: 5px;
    color: #4A5567;
    justify-content: space-between;
    
    & .mistakes{ column-gap: 5px; }

    & .tries{
        column-gap: 3px;

        & small{ margin-right: 5px; }      

        & .tries-colored{ background-color: #7429C6; }
    }
}

& .tries-ball{
    width: 6px;
    height: 6px;
    background-color: #4A5567;
    border-radius: 100%;
}

.input-word{
    flex-wrap: wrap;
    width: 75%;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 15px;
    aspect-ratio: 1 / 0.1;
   
    & input {
        display: flex;
        text-align: center;
        font-size: 18px;
        padding: 5px 8px;
        border: 2px solid #4A5567;
        color: #fff;
        width: 40px;
        height: 40px;
        background-color: #030616;
        outline: none;
        overflow-y: hidden;
        caret-color: #030616;
    }

    & .active { border: 2px solid #672171; }
}

.tries-ball-container{
    align-self: center;
    column-gap: 3px;
}

.button-options{
    width: 60%;
    column-gap: 30px;

    & button{
        background-color: #C951E7;
        color: #fff;
        padding: 5px 30px;
        box-shadow: 0 4px 0 0 #7429C6;
        border-radius: 10px;
        outline: none;
        border: none;

        &:active{background-color: #672171; }
    }
}

#letter-mistaken{
    margin-left: 5px;
    display: inline-block;
    width: 100px;
    font-size: 16px;
    color: #97A3B6;
    font-weight: bold;
}

.edges{ border-radius: 10px; }